@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.megatypo {
  font-weight: 700;
  font-size:19rem;
  letter-spacing: -1rem;
  line-height: 16rem;
}
.megatypo span { font-weight: 300;

}
.bloctrace {
  border: 1px red solid;
}
.bloctraceblue {
  border: 1px blue solid;
}
.bloctracegreen {
  border: 1px green solid !important;
}
.matrix {
  transform: matrix(1,0,0,1,0,0);
}
.matrix3d {
transform: matrix3d(
    0.5, 0, 0, 0,
    0, 0.5, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1)
    ;}

.transform-origin {
  transform-origin: 0%;
}

.mask {
  mask-image: url(../../public/square-200x200.svg);
}



.floor{
  position: relative;
  width: 100%;
  height: 75vh;
    border: 1px rgb(0, 255, 98) solid;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar-sticky {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 10px 1.5rem 10px 1.5rem;
  /* align-items: center; */
  z-index: 1;
  top: 0px;
  /* top: calc(1 * (0.4rem + 30px)); */
  position: fixed;
  /* width: 100%; */
  transition: all 0.2s ease-out;



}

.scrolled {
  /* top: -60; */
  padding: 5px 10px 5px 10px;
  transform: translate(0px, -64px);
  /* transform:scale(0.5); */
}

.heroWrapper {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.imageWrapper {
  z-index: -1;
}

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
